/*

/*******************
 Topbar
*******************/


  ul, ol, li {
        list-style: none;
  }


  .usermov{
    margin-right: 25px;
    display: block;
  }

    .test{
 border-radius: 30px;

}
.sep{
    margin-right: 9px;
}

.vee{
    margin-bottom: 9px;
}
.navbar-nav .usermov .dropdown-menu {
    position: static;
    float: none;
}
.usermov .dropdown-menu-right {
    right: 0;
    left: auto;
}
.usermov .dropdown-menu {
   
    top: 100%;
   
    z-index: 1000;
    
    
    width: 18rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
}

  .usermov .profile-pic {
    width: 30px;
    border-radius: 100%; }

 .usermov .dropdown-menu {
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0 3px 12px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 3px 12px rgba(0, 0, 0, 0.05);
    border-color: rgba(120, 130, 140, 0.13); }

    .usermov .dropdown-menu .dropdown-item {
      padding: 7px 1.5rem; }
   .usermov ul.dropdown-user {
    padding: 0px;
    width: 270px; }
     .usermov ul.dropdown-user li {
      list-style: none;
      padding: 0px;
      margin: 0px; }
       .usermov ul.dropdown-user li.divider {
        height: 1px;
        margin: 9px 0;
        overflow: hidden;
        background-color: rgba(120, 130, 140, 0.13); }
       .usermov ul.dropdown-user li .dw-user-box {
        padding: 10px 15px; }
         .usermov ul.dropdown-user li .dw-user-box .u-img {
          width: 80px;
          display: inline-block;
          vertical-align: top; }
           .usermov ul.dropdown-user li .dw-user-box .u-img img {
            width: 100%;
            border-radius: 5px; }
         .usermov ul.dropdown-user li .dw-user-box .u-text {
          display: inline-block;
          padding-left: 10px; }
           .usermov ul.dropdown-user li .dw-user-box .u-text h4 {
            margin: 0px; }
           .usermov ul.dropdown-user li .dw-user-box .u-text p {
            margin-bottom: 2px;
            font-size: 14px; }
           .usermov ul.dropdown-user li .dw-user-box .u-text .btn {
            color: #ffffff;
            padding: 5px 10px;
            display: inline-block; }
             .usermov ul.dropdown-user li .dw-user-box .u-text .btn:hover {
              background: #e6294b; }
       .usermov ul.dropdown-user li a {
        padding: 9px 15px;
        display: block;
        color: #54667a; }
         .usermov ul.dropdown-user li a:hover {
          background: #f2f7f8;
          color: #009efb;
          text-decoration: none; }