#gg {
	float: left;
	width: 35px;
	height: 40px;
	background-color: red;
	margin-top: 5%;
	transition: transform 1s ease;
}

#hh {
	float: left;
	width: 35px;
	height: 40px;
	background-color: blue;
}

#jj {
	float: left;
	width: 35px;
	height: 40px;
	background-color:purple;
}

#gg:hover {
	transform: scaleX(20);
}

#kk {
	visibility: hidden;
	background-color: black;
	width: 35px;
	height: 40px;
}