@charset "utf-8";
body{
    background: url("../../img/fundo_login.jpg") no-repeat center center fixed;
    background-size: cover;
    padding: 0;
    margin: 0;
}
.bemVindo{
    margin-top:7%;
    padding: 4%; 
}

.intro h1{
    font-size: 18pt;
}

.modal-content#principal{
    margin-top:50%; 
    background:rgb(216,235,252); 
    opacity: .8;
    border-radius: 10%;    
}

/*
.modal-content#pre_matricula{
    margin-top:30%; 
    border: none;
    background:none; 
}*/

.form-group{
    margin-top:13%;
}
.form-group_sc input[type="text"]{
    width:80%;
    margin-left: 9%;
    border-radius: 24px;
}

.form-group_pr input[type="text"], input[type="password"]{
    width:100%;
    border-radius: 24px;    
}

.form-input button{
    width: 30%;
    border-radius: 20px;
    margin-top:5%;
    margin-bottom: 3%;
}

.btn-primary{
    font-size: 16px;
}

.esqueceu{
    margin-top:6%;
    margin-bottom: 5%;
}

.esqueceu a{ 
    color:black;
}

.esqueceu a:hover{ 
    color:red;
}

.rodape{
    margin-left: 2%;
}

