
.centro, .centroo {
    
    padding-bottom: 80%;
    margin-top: 4.7%;
    width: 150%;
    top: 0;
    right: 0;
    float: right;
    bottom: 0;
}

.escondido, .apagado {
    display: none;
}

#matriculate {
   float: right;
   margin-right: 2%;
   margin-top: 0.5%;
   visibility: hidden;
}

ul li a {
    color: #000;
}

ul li a:hover {
    color: #000;
}

#calendar {
    max-width: 900px;
    margin: 0 auto;
  }
  
.centro {
    background-color: #F6FBFB;
}

.centroo {
    background-color: #ffffff;
}

#lect {
    font-family: cambria math;
    font-size: 100%;
    margin-left: 80%;
}

.navbar-header .navbar-brand {
    color: white;
    background-color: #126b7b;
    font-family: informal roman;
    font-weight: bold;
}

.fixed-bottom {
    background-color: #126b7b;
    font-family: Comic Sans MS;
    height: 5%;
}

#inputCodigo, #inputNivel {
    padding-bottom: 10%;
}

#pp {
    text-align: center;
    font-size: 90%;
}


.nav-text, #pp, #bel, #env {
    color: #ffffff;
}

#bel, #env {
    font-size: 130%;
}

.centere {
    color:#275e54;
    font-size: 350%;
}

th {
    background-color: #ebe5e6;
}

.breadcrumb > li + li:before { 
    color: #CCCCCC; 
    content: "/ "; 
    padding: 0 5px;
}

.fas {
    color: white;
}

.tabela{
  border: 0px solid;
  overflow: scroll;
  max-height: 220px;
}

.table-responsive .table-fixed th, .table-responsive .table-fixed td {
  text-align: center;
  border: 1px solid black
  width=1%;
}

h3 {
    padding-top: 2%;
}


.card-body, .message-box .message-widget a {
    color: #000;
}

.card-icon-bg {
  position: relative;
  z-index: 1;
}
.card-icon-bg .card-body {
  display: flex;
}

.card-icon-bg .fa {
  font-size: 4rem;
  color: rgba(187, 187, 187, 0.28);
}

.card-icon-bg .card-body .content {
  margin: auto;
}

.breadcrumb {
    padding-left: 10%;
}

.alunos, .turmas, .orcamento, .faltas, .testes, .media {
    background-color: #ffffff;
    padding-right: 15%;
    padding-top: 0%;
    padding-bottom: 0%;
}

#containerB, #containerP {
    width: 102%;
    height: 96%; 
    padding-top: 2%;  
}

.card, #containerB, #containerP, #containerC, #containerD, #containerT, #containerG{
  border-radius: 10px;
  box-shadow: 0 4px 20px 1px rgba(0, 0, 0, 0.06), 0 1px 4px rgba(0, 0, 0, 0.08);
  border: 0;
}


#containerC {

    width: 40%;
    height: 40%; 
    padding-top: 2%;

}

@media (max-width: 575px)  {
    .centro {
        margin-top: 16%;
        width: 80%;
    }

    #lect {
        font-size: 90%;
        margin-left: 60%;
    }
}

@media (min-width: 576px) and (max-width: 800px)  {
    .centro {
        margin-top: 30%;
        width:20%;
    }

    #lect {
        font-size: 20%;
        margin-left: 0%;
    }
}

@media (min-width: 768px) and (max-width: 999px)  {

    #bel {
        margin-left: 50%;        
    }

    #env {
      margin-right: 10%;
      margin-left: 5%;  
    }
}
 
@media (min-width: 1000px) and (max-width: 1399px){

     #bel {
        margin-left: 50%;        

    }

    #env {
      margin-right: 8%;
      margin-left:15%;  
    }
}

@media (min-width: 1400px) {

     #bel {
        margin-left: 50%;        

    }

    #env {
      margin-right: 15%;
      margin-left:15%;  
    }
}