.menu-small {
    position:fixed;
    height:150px;
    bottom: 0%;
    top:150px;
    right: 3px;
    width:50px;
    border-radius: 15px 0px 0px 15px;
    background:#0a8485;

    }
  
  .fa {
  position: relative;
  display: table-cell;
  width: 60px;
  height: 36px;
  text-align: center;
  vertical-align: middle;
  font-size:20px;
  }
  
  .menu-small:hover,nav.menu-small.expanded {
  overflow:visible;
  }
  

  
  .menu-small>ul {
  margin: 10% 0;
  }
  
  .menu-small li {
  position:relative;
  display:block;
  width:300px;
  margin-top:5%;
  right: 0;
  
  }
  
  .menu-small li>a {
  position:relative;
  display:table;
  border-collapse:collapse;
  border-spacing:0;
  color:#999;
  font-size: 14px;
  text-decoration:none;
  -webkit-transform: translateZ(0) scale(1,1);
  -webkit-transition:all .1s linear;
  transition:all .1s linear;
    
  }
  
  nav ul,nav li {
  outline:0;
  margin:0;
  padding:0;
  }
  
  
  .menu-small li ul {
    position: absolute;
  
    padding: 0;
    margin: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -webkit-transition: all 300ms linear;
    z-index: 1000;
    right: 300px;
    height: 400px;
    background: white;
    top: 0px;
    border: 4px solid #126b7b;
    margin-bottom: 10%;
  }
  
  .menu-small li:hover > ul,
  .menu-small li ul li:hover > ul {
    display: block;
    opacity: 1;
    visibility: visible;
  }
  
  @media (min-width: 360px) {
    .menu-small li {
     
      width:340px;
  
      }
      .menu-small li ul {
  
        right: 340px;
        
      }
    
  }
  @media (min-width: 576px) {
    .menu-small li {
     
      width:480px;
  
      }
      .menu-small li ul {
  
        right: 480px;
        
      }

  
    
  }
  @media (min-width: 768px) {
    .menu-small li {
     
      width:580px;
  
      }
      .menu-small li ul {
  
        right: 580px;
        
      }
  
  }
  @media (min-width:  992px) {
    
  }
  @media (min-width: 1200px) {
    
  }