

.pesquisa:focus {
  color: none;
  border:none;
  outline: 0;
  box-shadow: none;
}

.pesquisa {
    margin: 1% 0% 1% 0%;
    border: none;
}
.pesq {
    border-radius: 10px 10px 10px 10px; 
    border: 1px solid #ced4da;
    transition: border-color 0.5s;
}

@media (max-width: 575px)  {
 
}


.pesq>i {
    color: #cfcfcf;
    padding-top: 2.5%;
}

