#steps{
        margin-top: 2%;
}
.mesma{
    margin-left:100px;
}

.d{
    margin-left:300px; 
}

.mesma input[type="text"],input[list],input[type="number"],input[type="date"]{
    width: 140%;    
}
.mesma input[type="date"]{
    width: 152%;    
}

.mesma select{
    width:140%;
}

.diferente{
    margin-left:200px;
}
.submissoes{
    margin-left:700px;
}


@media (max-width: 992px) {
    .mesma{
        margin-left: 1%;
    }
    .mesma input[type="text"],input[list],input[type="number"],input[type="date"]{
        width: 80%;    
    }
    .mesma input[type="date"]{
        width: 80%;    
    }
    .mesma select{
        width:70%;
    }
} 
@media (max-width: 997px) {
    .submissoes{
        margin-left:1%;
    }   
}