.sidebar {
  height: 100%; 
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  left: 0;
  padding-top: 7%;
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

.sidebar  {
   background-color: #0a8485;
}

/* The sidebar links */
.sidebar a {
  padding: 8px 8px 8px 32px;
  font-size: 140%;
  transition: 0.3s;
}

.sidebar p{
    margin-left: 10%;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

@media  (min-width: 200px) and (max-width: 409px) {
  .sidebar {
    margin-top:18%;
    width:20%;
  }
}

@media  (min-width: 410px) and (max-width: 539px){
  .sidebar {
    margin-top:13%;
    width: 20%;
  }
}

@media  (min-width: 540px) and (max-width: 767px) {
  .sidebar {
    margin-top:10%;
    width: 20%;
  }
}

@media  (min-width: 768px) and (max-width: 799px) {
  .sidebar {
    margin-top:10%
    width: 15%;
    padding-top: 10%;
  }
}

  @media  (min-width: 800px) {
    .sidebar {
      width: 5%;
    }
}


