
#env {
	margin-left: 3%;
	margin-right: 3%;
	color: #ffffff;
}

#bel {
	margin-left: 80%;
}

#set, #setaa  {
	margin-left: 3%;
	color: #ffffff;
}

#usuu {
	visibility: hidden;
}


#setaa {
	display: none;
}

span, p {
	color: #ffffff;
}

p {
	font-family: Comic Sans MS;
	margin-left: 2%;
}

span hover: {
	color:#000000;
}

button {
	background-color: transparent;
	border: none;
}

.centro {
	background-color: #F6FBFB;
	padding-bottom: 80%;
}

.fixed-bottom {
	background-color: #126b7b;
	font-family: Comic Sans MS;
	height: 5%;
}

#pp {
	text-align: center;
	color: #ffffff;
}

#txt1, #txt2, #txt3, #txt4, #txt5, #txt6, #txt7, #txt8 {
	visibility: hidden;
}

.navbar-header .navbar-brand {
	color: white;
	font-size: 150%;
	background-color: #126b7b;
	font-family: informal roman;
	margin-left: 50%;
	font-weight: bold;
}

 .nav .nav-item .nav-link  {
	color: white;
	font-size: 130%;
}

.nav-item:hover {
	background-color: #126b7b;
	color: black;
}

.nav-item   {
	margin: 2%;
}

ul {
	position: fixed;
}

hr {
	background-color: #ffffff;
}

