.shiva
{
    border-radius: 24px;
    background-color:#26a0a1;
    font-family:  Comic Sans MS;
}
.count{
  color:white;
  font-size:25px;
  font-family:  Comic Sans MS;
  padding-top: 25%;
}

.ver{
  color: #ffffff;
}
