
.pesquisa:focus, .log:focus {
  color: none;
  border:none;
  outline: 0;
  box-shadow: none;
}

.pesquisa, .log {
    margin: 1% 0% 1% 0%;
    border: none;
}
.pesq, .pass, .us {
    border-radius: 10px 10px 10px 10px; 
    border: 1px solid #ced4da;
    transition: border-color 0.5s;
    padding: 0%;
}

.pass, .us {
  background-color:#fff;
  height: 40px;
}

.pass input, .us input {
  background-color: #fff;
  width: 10px;
}

.pass>i, .us>i{
   padding-top: 3%;
   color: #999999;
   font-size: 90%;
}

.pesq>i{
    color: #cfcfcf;
    padding-top: 2.5%;
}

@media (max-width: 415px)  {
 
  .pass>i, .us>i{
   visibility: hidden;
  }

}